.alert {
  position: absolute;
  top: 0;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  min-width: 450px;
  font-weight: 600;
  z-index: 100;
  box-shadow: 0 5px 5px var(--secondary-color);
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  animation: alertAnime 0.5s ease-in-out;
  &.hidden {
    display: none;
  }
}
@keyframes alertAnime {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert-success {
  background-color: var(--success-color);
  color: #fff;
}
.alert-danger {
  background-color: var(--danger-color);
  color: #fff;
}
.alert-confirm {
  background-color: var(--confirm-color);
  color: #fff;
}
.alert-warning {
  background-color: var(--warning-color);
  color: var(--secondary-color);
}
