:root {
  --main-color: #00a598;
  --secondary-color: #002642;
  --light-color: #e5eaed;
  --confirm-color: #2196f3;
  --success-color: #4caf50;
  --warning-color: #ff9800;
  --danger-color: #f44336;
}
